<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App (CURD)</title>
    <link rel="stylesheet" href="{% static 'enroll/css/lib/bootstrap.min.css' %}">
</head>
    <body>
        <div class="container my-2">
            <h2 class="text-danger alart alart-danger">Curd operation</h2>
            {% block content %} {% endblock content %}
        </div>

        <script src="{% static 'enroll/js/lib/bootstrap.min.js' %}"></script>
        <script src="{% static 'enroll/js/lib/proper.min.js' %}"></script>
        <script src="{% static 'enroll/js/lib/jquery.min.js' %}"></script>
    </body>
</html>